<%- include('../includes/head.ejs') %>
<!-- <link rel="stylesheet" href="/css/registration.css"> -->
</head>

<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark top-nav fixed-top">
  <div class="container">
      <a class="navbar-brand" href="index.html">
      <img src="images/logo.png" alt="logo" />
      </a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
  <span class="fas fa-bars"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
         <ul class="navbar-nav ml-auto">
            <li class="nav-item">
               <a class="nav-link active" href="index.html">Home</a>
            </li>
            <li class="nav-item">
               <a class="nav-link" href="about.html">About</a>
            </li>
            <li class="nav-item">
               <a class="nav-link" href="campaign.html">Campaign</a>
            </li>
            <li class="nav-item">
               <a class="nav-link" href="services.html">Services</a>
            </li>
            <li class="nav-item">
               <a class="nav-link" href="contact.html">Contact</a>
            </li>
         </ul>
      </div>
  </div>
</nav>
<br>
<!-- COMPLAINT PART -->
<div class="full-title">
<div class="container">
<!-- Page Heading/Breadcrumbs -->
<h1 class="mt-4 mb-3">If you have any complaint, let us know!</h1>
</div>
</div>

<div class="complaint">
  <div class="card h-100 text-center">
      <div class="card-body">
          
          <form action="/user-login/complaint-list" method="POST">
              
              <div class="form-group">
                  <label for="complaint">Your Complaint</label>
                  <textarea class="form-control" id="complaint" name="complaint" rows=5></textarea>
              </div>
              <label for="street">Street</label>
              <input type="text" name="street" class="form-control">
              <label for="city">City</label>
              <input type="text" name="city" class="form-control">
              <label for="pincode">Pincode</label>
              <input type="text" name="pincode" class="form-control">
              <button type="submit" class="btn btn-primary">Submit</button>
            </form>   
      </div>
  </div>
</div>

<br>
<br>
<%- include('../includes/footer.ejs') %>
<%- include('../includes/end.ejs') %>