<footer class="footer">
  <div class="container bottom_border">
      <div class="row">
         <div class="col-lg-3 col-md-6 col-sm-6 col">
    <h5 class="headin5_amrc col_white_amrc pt2">Find us</h5>
    <!--headin5_amrc-->
    <p class="mb10">Environment Sustainability has become the most important aspect in today's world. We value and care about that.</p>
    <p><i class="fa fa-location-arrow"></i> 10, Geeta Bhawan, Indore </p>
    <p><i class="fa fa-phone"></i> +91-9999878398 </p>
    <p><i class="fa fa fa-envelope"></i> info@astepahead.com </p>
         </div>
         <div class="col-lg-3 col-md-6 col-sm-6 col">
    <h5 class="headin5_amrc col_white_amrc pt2">Follow us</h5>
    <!--headin5_amrc ends here-->
    <ul class="footer_ul2_amrc">
      <li>
        <a href="#"><i class="fab fa-facebook fleft padding-right"></i> </a>
        <p>On facebook <br><a href="#">https://www.lipsum.com/</a></p>
      </li>
      <li>
        <a href="#"><i class="fab fa-twitter fleft padding-right"></i> </a>
        <p>On twitter <br><a href="#">https://www.lipsum.com/</a></p>
      </li>
      <li>
        <a href="#"><i class="fab fa-instagram fleft padding-right"></i> </a>
        <p>On instagram <br><a href="#">https://www.lipsum.com/</a></p>
      </li>
    </ul>
    <!--footer_ul2_amrc ends here-->
  </div>
  <div class="col-lg-3 col-md-6 col-sm-6">
    <h5 class="headin5_amrc col_white_amrc pt2">Quick links</h5>
    <!--headin5_amrc-->
    <ul class="footer_ul_amrc">
      <li><a href="#">Our Team </a></li>
      <li><a href="#">About Us</a></li>
      <li><a href="#">Our Services</a></li>
      <li><a href="#">Get In Touch</a></li>
    </ul>
    <!--footer_ul_amrc ends here-->
  </div>
  <div class="col-lg-3 col-md-6 col-sm-6 ">
    <h5 class="headin5_amrc col_white_amrc pt2">Be a part?</h5>
    <!--headin5_amrc-->
    <p class="mb10">If you think about the future and believe in providing greener and healthier environment to coming generations then come, be a part of our team.</p>
    <!--footer_ul_amrc ends here-->
  </div>
</div>
</div>
  <div class="container">
      <div class="footer-logo">
  <a href="#"><img src="images/footer-logo.png" alt="logo" /></a>
</div>
      <!--foote_bottom_ul_amrc ends here-->
      <p class="copyright text-center">All Rights Reserved. &copy; 2021 <a href="index.html">A Step Ahead</a>
      </p>
      <ul class="social_footer_ul">
  <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
  <li><a href="#"><i class="fab fa-twitter"></i></a></li>
  <li><a href="#"><i class="fab fa-linkedin"></i></a></li>
  <li><a href="#"><i class="fab fa-instagram"></i></a></li>
      </ul>
      <!--social_footer_ul ends here-->
  </div>
</footer>