<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/registration.css">
</head>

<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark top-nav fixed-top">
  <div class="container">
      <a class="navbar-brand" href="index.html">
      <img src="images/logo.png" alt="logo" />
      </a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
  <span class="fas fa-bars"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
         <ul class="navbar-nav ml-auto">
            <li class="nav-item">
               <a class="nav-link active" href="index.html">Home</a>
            </li>
            <li class="nav-item">
               <a class="nav-link" href="about.html">About</a>
            </li>
            <li class="nav-item">
               <a class="nav-link" href="campaign.html">Campaign</a>
            </li>
            <li class="nav-item">
               <a class="nav-link" href="services.html">Services</a>
            </li>
            <li class="nav-item">
               <a class="nav-link" href="contact.html">Contact</a>
            </li>
         </ul>
      </div>
  </div>
</nav>
<br>

<body>
    
    <form action="/org-login/campaign" method="POST">
      <div class="container">
        <h1>Campaign</h1>
        <p>Please fill the detais about campaign.</p>
        <hr>
      <label for="organized_by"><b>Name of Organization</b></label>
        <input type="text" class="form-control" placeholder="Enter name of organization" name="organized_by" id="organized_by" required>
      
        <label for="c_name"><b>Name of Campaign</b></label>
        <input type="text" class="form-control" placeholder="Enter Name of campaign" name="c_name" id="c_name">
      
      <label for="detail"><b>Detail about the campaign</b></label>
      <br>
      <input type="text" class="form-control" placeholder="Enter detail" name="detail" id="detail" required>
      <br>
      <label for="start_date"><b>Start Date</b></label>
      <br>
      <input type="date" class="form-control" placeholder="DD/MM/YYYY" name="start_date" id="start_date">
      <br>
      <label for="end_date"><b>Start Date</b></label>
      <br>
      <input type="date" class="form-control" placeholder="DD/MM/YYYY" name="end_date" id="end_date">
      
      <button type="submit" class="registerbtn">Add</button>
      </div>
      
      
    </form>
    
    <%- include('../includes/footer.ejs') %>
    <%- include('../includes/end.ejs') %>